<template>
  <v-btn @click="onClickHandler">
    <slot></slot>
  </v-btn>
</template>

<script>
export default {
  name: "CustomButton",
  methods: {
    onClickHandler() {
      this.$emit("onUploadHandler");
    },
  },
};
</script>
