<template>
  <div class="container">
    <head>
      <slot name="header"></slot>
    </head>
    <main>
      <slot></slot>
    </main>
    <div>
      <slot name="slotWscop" :text="`helloWorld`" :count="1"> </slot>
    </div>
    <footer>
      <slot name="footer"></slot>
    </footer>
  </div>
</template>

<script>
export default {
  name: "CustomSlot",
};
</script>
