<script>
export default {
  name: "CustomTagField",
  props: [
    "value",
    "onKeyUpHandler",
    "tags",
    "onTagCloseClick",
    "rules",
    "label",
  ],
  methods: {
    emitValue(inputValue) {
      this.$emit("updatevalue", inputValue);
    },
  },
};
</script>

<template>
  <v-row justify="center">
    <v-col class="text-center" cols="12" xs="10" sm="6" lg="4" xl="3">
      <v-text-field
        :value="value"
        :label="label"
        :rules="rules"
        @input="emitValue"
        @keyup="onKeyUpHandler"
      ></v-text-field>
    </v-col>
    <v-col cols="12" xs="12" class="text-center">
      <v-chip
        v-for="(tag, index) in tags"
        :key="index"
        close
        close-icon="mdi-close-outline"
        @click:close="onTagCloseClick(tag)"
        >{{ tag }}</v-chip
      >
    </v-col>
  </v-row>
</template>
