<template>
  <v-select
    :value="selected"
    :items="options"
    chips
    :label="label"
    :append-outer-icon="icon"
    multiple
    outlined
    @change="selectHandle"
  />
</template>

<script>
export default {
  name: "CustomSelect",
  props: ["label", "icon", "options", "selected", "selectHandle"],
};
</script>
