<template>
  <v-file-input
    show-size
    name="input"
    :value="files"
    outlined
    truncate-length="30"
    placeholder="Select a file"
    label="File Input"
    prepend-icon="mdi-file"
    @change="uploadFile"
  />
</template>

<script>
export default {
  name: "InputFile",
  props: ["files", "uploadFile"],
};
</script>
