<template>
  <v-snackbar v-model="show" :color="color" :timeout="timeout">
    {{ message }}
    <v-btn text @click="show=false">
      close
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name:"Snackbar",
  data() {
    return {
      show: false,
      message: "",
      color: "",
      timeout: 4000,
    }
  },
  created() {
    this.$store.subscribe((mutation, state) => {
      if(mutation.type === "snackbar/showMessage") {
        this.message = state.snackbar.message;
        this.color = state.snackbar.color;
        this.timeout = state.snackbar.timeout;
        this.show = true;
      }
    })
  }
}
</script>