<template>
  <v-app>
    <v-app-bar fixed app color="green">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>
        <h2>Common Heading</h2>
      </v-toolbar-title>
      <v-spacer />
      <v-menu left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list v-if="isAuthenticated">
          <v-list-item @click="() => {}">
            <v-list-item-title
              >{{ loggedInUser.first_name }}
              {{ loggedInUser.last_name }}</v-list-item-title
            >
          </v-list-item>
          <v-list-item @click="logoutUser">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" absolute temporary>
      <v-list nav dense>
        <v-list-item
          v-for="(route, index) in items"
          :key="index"
          :to="route.to"
          router
          exact
        >
          <v-list-item>
            <v-icon>{{ route.icon }}</v-icon>
            <v-list-item-title>{{ route.title }}</v-list-item-title>
          </v-list-item>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <snackbar />
  </v-app>
</template>

<script>
import Snackbar from "../components/Snackbar.vue";
import routes from "../src/routes";
import { mapGetters } from "vuex";
export default {
  components: { Snackbar },
  name: "DefaultLayout",
  data() {
    return {
      drawer: false,
      fixed: false,
      items: routes,
      title: "Vuetify.js",
    };
  },
  computed: {
    ...mapGetters(["isAuthenticated", "loggedInUser"]),
  },
  methods: {
    async logoutUser() {
      try {
        await this.$auth.logout();
        this.$router.push("/login");
      } catch (error) {
        // user logout failed
      }
    },
  },
};
</script>

<style>
.green-text {
  color: green;
}
</style>
