<template>
  <v-app>
    <v-app-bar fixed app color="green">
      <v-toolbar-title>
        <h2>Common Heading</h2>
      </v-toolbar-title>
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <snackbar></snackbar>
  </v-app>
</template>

<script>
import Snackbar from '../components/Snackbar.vue';

export default {
  components: { Snackbar },
  name: "LoginLayout",
};
</script>

<style>
.green-text {
  color: green;
}
</style>
