<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col class="text-center">
        <h1>File UPload</h1>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="text-center" cols="12" xs="10" sm="6" lg="4" xl="3">
        <input-file :files="files" :upload-file="uploadFile" />
        <v-btn class="green" @click="onFileUpload"> Upload </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import InputFile from "../components/InputFile.vue";
export default {
  components: { InputFile },
  name: "FileUpload",
  data() {
    return {
      files: {},
    };
  },
  methods: {
    async onFileUpload() {
      try {
        const formData = new FormData();
        formData.append("file", this.files);
        const response = await axios.post("/url", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      } catch (error) {
        console.log(error, "error");
      }
    },
    uploadFile(file) {
      this.files = file;
    },
  },
};
</script>
