<template>
  <v-container fill-height fluid>
    <h1>Login</h1>
    <v-row justify="center" class="mt-5">
      <v-col sm="4">
        <v-card class="mx-auto" outlined>
          <form @submit.prevent="handleSubmit">
            <v-card-text>
              <v-row class="mx-3 mt-2">
                <v-col cols="12">
                  <v-text-field
                    v-model="email"
                    type="email"
                    label="Email"
                    outlined
                    required
                  />
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="password"
                    label="Password"
                    type="password"
                    outlined
                    required
                  />
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-row class="mb-2">
                <v-col class="text-center">
                  <v-btn
                    elevation="6"
                    large
                    type="submit"
                    color="green lighten-2"
                    >Login</v-btn
                  >
                </v-col>
              </v-row>
            </v-card-actions>
          </form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Login",
  layout: "login",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    async handleSubmit() {
      try {
        await this.$auth.loginWith("local", {
          data: { email: this.email, password: this.password },
        });
        this.$router.push("/")
      } catch (error) {
        console.log(error);
        this.$notifier.showMessage({
          message: "Invalid credentials",
          color: "error",
          timeout: 5000,
        });
      }
    },
  },
};
</script>
