<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col class="text-center">
        <h1>Multiple Select</h1>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col class="text-center" cols="12" xs="10" sm="6" lg="4" xl="3">
        <custom-select
          label="Names"
          icon="mdi-account"
          :options="optNames"
          :selected="selectedNames"
          :select-handle="selectHandle"
        />
        <v-btn class="green" @click="onSubmit"> Upload </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import CustomSelect from "../components/CustomSelect.vue";
export default {
  components: { CustomSelect },
  name: "MultipleSelect",
  data() {
    return {
      optNames: [],
      selectedNames: [],
    };
  },
  created() {
    this.fetchUsers();
  },
  methods: {
    async fetchUsers() {
      try {
        const response = await axios.get(
          "https://jsonplaceholder.typicode.com/users"
        );
        this.optNames = response.data.map((user) => user.name);
      } catch (error) {
        console.log(error);
      }
    },
    async onSubmit() {
      try {
        const response = await axios.post(
          "https://jsonplaceholder.typicode.com/users",
          this.selectedNames
        );
        console.log(response.data);
      } catch (err) {
        console.log(err, "error");
      }
    },
    selectHandle(names) {
      this.selectedNames = names;
    },
  },
};
</script>
