<script>
import CustomSlot from "../components/CustomSlot.vue";
export default {
  components: { CustomSlot },
  name: "SlotExplore",
};
</script>

<template>
  <div>
    <h1>Slot Exploration</h1>
    <custom-slot>
      <template #header>
        <h4>Header</h4>
      </template>
      <template>
        <p>body of slot</p>
      </template>
      <template #slotWscop="slotProps">
        {{ slotProps.count }} to {{ slotProps.text }}
      </template>
      <template #footer>
        <h4>Hello world</h4>
      </template>
    </custom-slot>
  </div>
</template>
