<template>
  <v-container grid-list-xs>
    <v-row>
      <v-col class="text-center">
        <h1>Tags</h1>
      </v-col>
    </v-row>
    <custom-tag-field
      :value="value"
      label="Tag"
      @updatevalue="updateValue"
      :rules="rules"
      :on-key-up-handler="onKeyUpHandler"
      :tags="tags"
      :on-tag-close-click="onTagCloseClick"
    ></custom-tag-field>
    <v-row justify="center">
      <v-col class="text-center">
        <custom-button @onUploadHandler="onUploadHandler" class="green"
          >Upload</custom-button
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
import CustomTagField from "../components/CustomTagField.vue";
import CustomButton from "../components/CustomButton.vue";
export default {
  components: { CustomTagField, CustomButton },
  name: "TagCreator",
  data() {
    return {
      value: "",
      tags: [],
      rules: [
        (value) => (value && value.length >= 3) || "Min 3 characters",
        (value) =>
          (value && new RegExp(/^[a-z0-9]+$/i).test(value)) ||
          "No special characters and white space",
      ],
    };
  },
  methods: {
    updateValue(newValue) {
      this.value = newValue;
    },
    onKeyUpHandler(e) {
      if (e.key === "Enter" || e.keyCode === 13) {
        if (
          this.value !== "" &&
          new RegExp(/^[a-z0-9]+$/i).test(this.value) &&
          this.value.length >= 3 &&
          !this.tags.includes(this.value)
        ) {
          this.tags = [...this.tags, this.value];
          this.value = "";
        }
      }
    },
    onTagCloseClick(tag) {
      const index = this.tags.indexOf(tag);
      if (index > -1) {
        this.tags.splice(index, 1);
      }
    },
    async onUploadHandler() {
      try {
        const data = {
          tags: this.tags,
        };
        const response = await axios.post("/url", data);
        console.log(response.data);
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>
